{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "chrome >= 45",
          "firefox >= 38",
          "safari >= 10",
          "edge >= 15",
          "ie >= 11"
        ],
        "uglify": true
      },
      "useBuiltIns": true
    }],
    "react",
    "stage-3"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        // This is to workaround an issue because the original redux-api-middleware
        // package is built with babel 5.x. We're currently using a fork that's built
        // using babel 6.
        "redux-api-middleware": "@aftonbladet/redux-api-middleware"
      }
    }],
    "syntax-dynamic-import",
    ["react-intl", {
      "messagesDir": "./locales/extracted-strings"
    }],
    "add-module-exports",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "dynamic-import-webpack",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }]
      ]
    }
  }
}
