{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "jest"
  ],
  "rules": {
    "import/no-unresolved": 0,  // using this because we're using webpack alias for redux-api-middleware
    "import/extensions": ["error", "never", { "json": "always" }],
    "max-len": ["error", { "code": 120, "ignoreComments": true, "ignoreTrailingComments": true, "ignoreUrls": true, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true }],
    "no-param-reassign": ["error", {"props": false}],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
  }
}
